<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.cn.matsuribbs.mapper.ReplyMapper">

        <resultMap id="ReplyBean" type="reply">
            <id column="id" property="id" />
            <result column="content" property="content" />
            <result column="replyDate" property="replyDate" />
            <result column="likeNum" property="likeNum" />
            <result column="subReplyNum" property="subReplyNum" />
            <association property="author" javaType="User">
                <id column="uid" property="id" />
                <result column="userName" property="userName" />
                <result column="avatar" property="avatar" />
                <result column="admin" property="admin" />
            </association>
        </resultMap>
        <select id="selectByPostIDFun" parameterType="PageBean" resultMap="ReplyBean">
            SELECT r.*,u.id uid,u.userName,u.avatar,u.admin,(SELECT count(*) FROM sub_reply where rid = r.id) subReplyNum FROM reply r,user u where r.uid =u.id and r.pid=#{id} ORDER BY r.replyDate limit #{offset},#{limit}
        </select>

        <select id="selectCountByPageFun" parameterType="PageBean" resultType="int">
            SELECT count(*) FROM reply where pid=#{id}
        </select>

        <resultMap id="ReplyDetailBean" type="reply">
            <id column="id" property="id" />
            <result column="content" property="content" />
            <result column="replyDate" property="replyDate" />
            <result column="likeNum" property="likeNum" />
            <association property="author" javaType="User">
                <id column="id" property="id" />
                <result column="userName" property="userName" />
                <result column="avatar" property="avatar" />
            </association>
        </resultMap>
        <select id="selectByIDFun" parameterType="int" resultMap="ReplyDetailBean">
            SELECT * FROM reply r, user u where r.uid = u.id and r.id=#{id}
        </select>

        <insert id="insertFun" parameterType="reply">
			insert into reply(uid,pid,content,replyDate,likeNum)
			values(#{uid},#{pid},#{content},#{replyDate},#{likeNum})
		</insert>

		<delete id="deleteFun" parameterType="int">
			delete from reply where id=#{id}
		</delete>

    </mapper>