<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.cn.matsuribbs.mapper.UserMapper">
        
        <select id="selectByUserName" parameterType="String" resultType="user">
            select * from user where userName=#{name}
        </select>
        <!---->
        <!--<insert id="insertFun" parameterType="tblCustomer">-->
			<!--insert into tbl_customer(customerName,password,customerTrueName,customerAddress,sex,customerEmail,customerPhone,customerRegDate)-->
			<!--values(#{customerName},#{password},#{customerTrueName},#{customerAddress},#{sex},#{customerEmail},#{customerPhone},#{customerRegDate})-->
		<!--</insert>-->
		<!---->
		<!--<delete id="deleteFun" parameterType="int">-->
			<!--delete from tbl_customer where customerId=#{id}-->
		<!--</delete>-->
		<!---->
		<!--<update id="updateFun" parameterType="tblCustomer">-->
			<!--update tbl_customer set customerName=#{customerName},password=#{password},customerTrueName=#{customerTrueName},-->
			<!--sex=#{sex},customerEmail=#{customerEmail},customerPhone=#{customerPhone} where customerID=#{customerID};-->
		<!--</update>-->
    </mapper>