<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.cn.matsuribbs.mapper.UserMapper">
        
        <select id="selectByUserName" parameterType="String" resultType="user">
            select * from user where userName=#{userName}
        </select>

        <select id="selectByEmail" parameterType="String" resultType="user">
            select * from user where email=#{email}
        </select>

        <insert id="insertFun" parameterType="user">
			insert into user(userName,password,sex,avatar,email,phone,regDate,admin)
			values(#{userName},#{password},#{sex},#{avatar},#{email},#{phone},#{regDate},#{admin})
		</insert>

		<update id="updateInfoFun" parameterType="user">
			update user set userName=#{userName},sex=#{sex}
            <if test="avatar !=null and  avatar != '' ">
                ,avatar=#{avatar}
            </if>
			where id=#{id};
		</update>

        <update id="updatePhoneFun" parameterType="user">
            update user set phone=#{phone} where id=#{id};
        </update>

        <select id="selectByID" parameterType="int" resultType="user">
            select * from user where id=#{id}
        </select>

        <update id="updatePasswordFun" parameterType="user">
            update user set password=#{password} where id=#{id};
        </update>
    </mapper>